{% extends 'index.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
        <title>
            lista-usuarios
        </title>
    {% endblock title %}
        
</head>
<body>
  
    {% block body %}
    <main>
            
            <div class="content">
              <div class="container">
                <div class="well">
                  <h2>Lista de Usuarios</h2>
                </div>
                <a type="button" class="btn btn-primary" href="#">Agregar</a>
                <a type="button" class="btn btn-dark" href="#">ELIMINADOS</a>
                <br><br>
                
                {% if users %}
                    
                
                    
                <div class="table-responsive-sm">
                  <table class="table table-light table-hover">
                    <thead>                
                        <tr>
                          <th>Usuario</th>
                          <th>Nombre</th>
                          <th>Apellido</th>
                        </tr>
                  
                        {% for us in users %}
                        <tr>
                          <td>{{us.usuario}}</td>
                          <td>{{us.nombre}}</td>
                          <td>{{us.apellido}}</td>
                        </tr> 
                        {% endfor %}
                    </thead>
                  </table>
                </div>
              </div>
          </div>
      </main>
        {% endif %}
        {% endblock body %}  
  </body>
  </html>